@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>

<address>
   <h3>Отдел процессного управления</h3>
</address>

<address>
    <strong>Начальник отдела:</strong>   <a href="mailto:NVSabadze.SBT@sberbank.ru">Сабадзе Н.В.</a><br />
    <strong>По вопросам разработки/доработки отчетов обращаться к:</strong>   <a href="mailto:MVDmitriev.SBT@sberbank.ru">Дмитриев М.В.</a><br />
</address>