<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_1C_client.Properties.Client_1C_Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_1C_client.Properties.Client_1C_Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="log4net.Config" value="log4.config"/>
    <add key="log4net.Config.Watch" value="True"/>
    <add key="log4net.Internal.Debug" value="False"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
    <userSettings>
        <_1C_client.Properties.Client_1C_Settings>
            <setting name="prevFileCreatedDate" serializeAs="String">
                <value>2016-01-01</value>
            </setting>
            <setting name="prevFileName" serializeAs="String">
                <value>Minsk_1CHRM_01.01.2016</value>
            </setting>
        </_1C_client.Properties.Client_1C_Settings>
    </userSettings>
    <applicationSettings>
        <_1C_client.Properties.Client_1C_Settings>
            <setting name="fileMask" serializeAs="String">
                <value>Minsk_1CHRM_*</value>
            </setting>
            <setting name="jiraTestConnectionString" serializeAs="String">
                <value>Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.99.102)(PORT=1500))(CONNECT_DATA=(SERVICE_NAME=SBTJ2)));User Id=SBT_REP;Password=S8T_R3P;</value>
            </setting>
            <setting name="pathToFiles" serializeAs="String">
                <value>\\172.29.75.120\Export\1C\</value>
            </setting>
        </_1C_client.Properties.Client_1C_Settings>
    </applicationSettings>
</configuration>
